dist: bionic
language: python

git:
  depth: false

stages:
  - mypy
  - black
  - flake8
  - test

jobs:
  include:
    - stage: "mypy"
      python: "3.5"
      env: MYPY=0.782
      install: pip install mypy==$MYPY
      script: mypy ./testrail_api
      after_success: false
    - stage: "black"
      python: "3.6"
      env: BLACK=20.8b1
      install: pip install black==$BLACK
      script: black ./testrail_api --check
      after_success: false
    - stage: "flake8"
      python: "3.6"
      env:
        - FLAKE8=3.8.3
        - PEP8_NAMING=0.11.1
      install:
        - pip install flake8==$FLAKE8
        - pip install pep8-naming==$PEP8_NAMING
      script: flake8 ./testrail_api
      after_success: false

env:
  - REQUESTS="requests==2.20.1"  # min version
  - REQUESTS="-U requests"       # last version

python:
  - "pypy3"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
install:
  - pip install pytest-cov==2.10.1
  - pip install responses==0.11.0
  - pip install pytest==6.0.1
  - pip install $REQUESTS
  - pip install -e .
script:
  - pip freeze | grep requests
  - pytest tests/unit
deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  skip_existing: true
  distributions: bdist_wheel --universal
  on:
    tags: true
    repo: tolstislon/testrail-api
    python: "3.8"

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: never
    on_failure: always