dist: xenial
language: python

git:
  depth: false

env:
  - REQUESTS="requests==2.20.1"  # min version
  - REQUESTS="-U requests" # last version

python:
  - "pypy3"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install pytest-cov==2.8.1
  - pip install responses==0.10.12
  - pip install pytest==5.4.1
  - pip install REQUESTS
  - pip install -e .
script:
  - pip freeze | grep requests
  - pytest tests/unit
deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  skip_existing: true
  distributions: bdist_wheel --universal
  on:
    tags: true
    repo: tolstislon/testrail-api
    python: "3.8"

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: never
    on_failure: always