[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
m2r = "==0.2.1"
twine = "==1.14.0"
pytest = "==5.1.2"
pytest-cov = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
