[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==8.2.2"
pytest-cov = "==5.0.0"
responses = "==0.21.0"
black = "==24.4.2"
flake8 = "==7.0.0"
pep8-naming = "==0.14.1"

[packages]
requests = "==2.32.3"
testrail-api = { editable = true, path = "." }

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
tests = "pytest tests"
black = "black --line-length=120 ./testrail_api"
flake8 = "flake8 ./testrail_api"
